<div ng-switch="datepickerMode" role="application" ng-keydown="keydown($event)">
  <persian-daypicker ng-switch-when="day" tabindex="0"></persian-daypicker>
  <persian-monthpicker ng-switch-when="month" tabindex="0"></persian-monthpicker>
  <persian-yearpicker ng-switch-when="year" tabindex="0"></persian-yearpicker>
</div>");
