<html xmlns:ui="http:/www.phsys.ir/" ng-app="application" ng-controller="ApplicationMain">
<head>
    <title ng-bind-template="{{translate(app.title)}}{{app.title && page.title ? ' - ' : ''}}{{translate(page.title)}}"></title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="app/lib/css/animate.css"/>
    <!--<link rel="stylesheet" type="text/css" href="app/lib/css/main.css"/>-->
    <link rel="stylesheet" type="text/css" href="app/lib/css/bootstrap.min.css"/>
    <link data-direction="rtl" type="text/css" href="app/lib/css/bootstrap-rtl.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="app/lib/css/bootstrap-select.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="app/lib/css/ng-select.css"/>-->
    <link rel="stylesheet" type="text/css" href="app/lib/css/ui-grid-unstable.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/calendar/aqua/theme.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/codeResolver.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/grid/ui-grid.css"/>
    <!--<link rel="stylesheet" type="text/css" href="app/themes/default.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="app/themes/default.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="app/css/alert_theme/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/alert_theme/bootstrap.rtl.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/alertify.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/alertify.rtl.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/grid/ui-grid.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/toastr.css"/>
    <link data-direction="rtl" type="text/css" href="app/css/app-rtl.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/app-ex.css"/>
    <link rel="stylesheet" type="text/css" data-direction="ltr" href="app/css/app-ex.ltr.css"/>
    <link rel="stylesheet" type="text/css" data-direction="rtl" href="app/css/app-ex.rtl.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/angular-chart.css"/>
    <link rel="stylesheet" type="text/css" href="app/lib/css/prism.css"/>
    <!--<link rel="stylesheet" type="text/css" href="app/lib/css/shCore.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="app/lib/css/shThemeDefault.css"/>-->

    <script type="text/javascript" src="app/lib/js/basetag.js"></script>
    <script type="text/javascript" src="app/lib/js/jquery.js"></script>
    <script type="text/javascript" src="app/lib/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="app/lib/js/angular.js"></script>
    <script type="text/javascript" src="app/lib/js/chart.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-chart.js"></script>
    <script type="text/javascript" src="app/lib/js/utils.js"></script>
    <script type="text/javascript" src="app/js/controllers/com/caspco/alert.js"></script>
    <script type="text/javascript" src="app/lib/js/sockjs.min.js"></script>
    <script type="text/javascript" src="app/lib/js/stomp.min.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-route.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-sanitize.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-animate.js"></script>
    <script type="text/javascript" src="app/lib/js/angular-resource.js"></script>
    <script type="text/javascript" src="app/lib/js/underscore.js"></script>
    <script type="text/javascript" src="app/lib/js/saveas.js"></script>
    <script type="text/javascript" src="app/lib/js/prism.js"></script>
    <!--<script type="text/javascript" src="app/lib/js/xregexp.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/js/shCore.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/js/shBrushGroovy.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/js/angular-validation-rule.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/js/bootstrap-select.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/bootstrapui/js/bootstrapui.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/bootstrapui/js/bootstrapui-route.js"></script>-->
    <!--<script type="text/javascript" src="app/lib/js/ui-bootstrap-0.9.0.js"></script>-->
    <script type="text/javascript" src="app/lib/js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="app/js/services/services.js"></script>
    <script type="text/javascript" src="app/js/services/locale.js"></script>
    <script type="text/javascript" src="app/js/services/properties.js"></script>
    <script type="text/javascript" src="app/js/services/translator.js"></script>
    <script type="text/javascript" src="app/js/services/underscore.js"></script>
    <script type="text/javascript" src="app/js/controllers/menu.js"></script>


    <script type="text/javascript" src="app/app.js"></script>

    <script type="text/javascript" src="app/js/services/modal.js"></script>
    <script type="text/javascript" src="app/js/services/alert.js"></script>
    <script type="text/javascript" src="app/js/directives/assetToggleButton.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebar.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebarMenu.js"></script>
    <script type="text/javascript" src="app/js/directives/sidebarMenuItem.js"></script>
    <script type="text/javascript" src="app/js/directives/thumbnailCard.js"></script>
    <script type="text/javascript" src="app/js/directives/codeResolver.js"></script>
    <script type="text/javascript" src="app/js/directives/secondaryNavigation.js"></script>
    <script type="text/javascript" src="app/js/directives/topNav.js"></script>
    <script type="text/javascript" src="app/js/directives/notification.js"></script>

    <script type="text/javascript" src="app/js/directives/loader.js"></script>
    <script type="text/javascript" src="app/js/directives/alert.js"></script>
    <script type="text/javascript" src="app/js/directives/input.js"></script>
    <script type="text/javascript" src="app/js/directives/combo.js"></script>

    <!--<script type="text/javascript" src="app/js/directives/panel.js"></script>-->
    <script type="text/javascript" src="app/js/directives/button.js"></script>
    <script type="text/javascript" src="app/js/filters/link.js"></script>
    <script type="text/javascript" src="app/js/factory/projectCache.js"></script>

    <script type="text/javascript" src="app/config.js"></script>
    <script type="text/javascript" src="app/route.js"></script>
    <script type="text/javascript" src="app/js/services/user.js"></script>
    <script type="text/javascript" src="app/js/services/todo.js"></script>
    <script type="text/javascript" src="app/js/services/modelService.js"></script>
    <script type="text/javascript" src="app/js/services/messages.js"></script>
    <!--<script type="text/javascript" src="app/lib/js/ng-grid-2.0.11.debug.js"></script>-->
    <script type="text/javascript" src="app/js/directives/ui-grid.js"></script>
    <!--<script type="text/javascript" src="app/lib/js/ui-grid.js"></script>-->
    <script type="text/javascript" src="app/lib/js/jquery-ui.js"></script>
    <script type="text/javascript" src="app/lib/js/ocLazyLoad.js"></script>
    <!--<script type="text/javascript" src="blob.js"></script>-->

    <script type="text/javascript" src="app/js/directives/validate.js"></script>

    <script type="text/javascript" src="app/lib/js/jalali.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar-setup.js"></script>
    <script type="text/javascript" src="app/lib/js/calendar-fa.js"></script>
    <script type="text/javascript" src="app/lib/js/alertify.js"></script>
    <script type="text/javascript" src="app/js/directives/accounting.js"></script>
    <script type="text/javascript" src="app/lib/js/toastr.js"></script>
    <script type="text/javascript" src="app/js/directives/ui-grid.js"></script>
    <script type="text/javascript" src="app/js/filters/persianDateFilter.js"></script>
    <script type="text/javascript" src="app/js/directives/auto-focus.js"></script>
    <script type="text/javascript" src="app/js/directives/do-action.js"></script>
    <script type="text/javascript" src="app/js/directives/focus-on.js"></script>
    <script type="text/javascript" src="app/js/directives/loading.js"></script>
</head>
<!--<a href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; left: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-blue-left.png"> </a>-->
<body ng-cloak ng-keydown="fireKeyDown($event)">

<!--<ui:top-nav ng-init="count = 1">-->
<!--<ui-notification glyph="glyphicon-envelope" count="messages.count" actions="messages.actions"-->
<!--color="yellow"></ui-notification>-->
<!--<ui-notification glyph="glyphicon-tasks" count="todo.count" actions="todo.actions" color="red"></ui-notification>-->
<!--&lt;!&ndash;<ui-notification glyph="glyphicon-user" caption="{{user.displayName}}" ></ui-notification>&ndash;&gt;-->

<!--<li class="notification dropdown">-->
<!--<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">-->
<!--&lt;!&ndash;<ui:icon ng-if="glyph" glyph="{{glyph}}"></ui:icon>&ndash;&gt;-->
<!--<span class="glyphicon glyphicon-user"></span>-->
<!--<span>{{user.displayName}} <b class="caret"></b></span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li role="presentation">-->
<!--<a role="menuitem" href="/logout"><span class="glyphicon glyphicon-log-out"></span>-->
<!--{{translate('app.logout')}}</a>-->
<!--</li>-->
<!--<li role="presentation" class="divider"></li>-->
<!--<li role="presentation">-->

<!--<a class="btn" ng-click="setLocale('fa_IR')" role="menuitem">-->
<!--<div class="row">-->
<!--&lt;!&ndash;<div class="col-lg-1">A</div>&ndash;&gt;-->
<!--<div class="col-lg-7">فارسی</div>-->
<!--<div class="col-lg-3"><img src="app/resources/img/fa_IR.png"/></div>-->
<!--&lt;!&ndash;<div class="col-lg-1">A</div>&ndash;&gt;-->
<!--</div>-->
<!--</a>-->
<!--<a class="btn" ng-click="setLocale('en_US')" role="menuitem">-->
<!--<div class="row">-->
<!--<div class="col-lg-7"><span>English</span></div>-->
<!--<div class="col-lg-3"><img src="app/resources/img/en_US.png"/></div>-->
<!--</div>-->

<!--</a>-->
<!--</li>-->
<!--&lt;!&ndash;<li ng-repeat="action in actions" ng-click="perform(action);" class="{{action.className}} {{action.unread ? 'unread' : ''}} {{!action ? 'divider' : ''}}"><a ng-if="action" href="javascript:void(0);">{{action.title}}</a></li>&ndash;&gt;-->
<!--</ul>-->
<!--</li>-->

<!--</ui:top-nav>-->


<ui:sidebar ng-init="dashboard = true; sidebar = true;" ng-show="sidebar">

    <!--<div class="col-xs-12">-->
    <!--<div class="row">-->
    <!--<ui:thumbnail-card type="user" image="{{user.avatar}}">-->
    <!--<div class="name"><span class="glyphicon glyphicon-stop"></span> <a-->
    <!--ng-href="{{'user/profile' | link}}"-->
    <!--ng-bind="user.fullName"></a></div>-->
    <!--<div class="status {{user.status}}"><span class="glyphicon glyphicon-globe"></span> <span-->
    <!--ng-bind="translate('user.status.' + user.status)"></span></div>-->
    <!--</ui:thumbnail-card>-->
    <!--</div>-->
    <!--</div>-->

    <!-- /input-group -->
    <!--<ui:sidebar-menu glyph="dashboard" title="{{translate('menu.dashboard.title')}}" expanded="dashboard">-->
    <!--<ui:sidebar-menu-item link="/">-->
    <!--{{translate('menu.dashboard.home.title')}}-->
    <!--</ui:sidebar-menu-item>-->
    <!--</ui:sidebar-menu>-->
    <!--{{dropped}}-->
    <div class="user-panel">
        <div class="image-avatar image">
            <img src="{{user.avatar}}" class="img-circle"
                 alt="User Image">
            <span><i class="fa fa-circle text-success"></i>
            </span>
        </div>
        <div class="info">
            <p class="text-center">
                <span class="username">{{user.fullName}}</span>
            </p>
            <ul class="profile-list">
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Profile">
                        <span data-toggle="modal" data-target="#myModal"><i
                                class="user-operation glyphicon glyphicon-user"></i>
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Setting">
                        <span data-toggle="modal" data-target="#setting"><i
                                class="user-operation glyphicon glyphicon-wrench"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/logout" data-toggle="tooltip" data-placement="top" title=""
                       data-original-title="Logout" tooltip="{{translate('app.logout')}}">
                        <span><i class="user-operation glyphicon glyphicon-off"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div ng-controller="MenuCtrl" class="row">
        <!--<input ng-model="autofocus">-->
        <!--<input auto-focus="autofocus">-->
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group menu-search">
                        <input type="text" focus-on="ctrl+alt+f" class="form-control" ng-model="itemToSearch"
                               ng-keydown="selectMenuItem($event)">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <ui:sidebar-menu ng-repeat="menu in searchedMenu track by menu.title"
                             title="{{translate('menu.' + menu.title)}}"
                             glyph="glyphicon-plus-sign" expanded="true">
                <!--<button class="btn btn-primary" ng-repeat="detail in menu.details">-->
                <!--{{translate('menu.'+detail.domain+'.'+detail.title)}}-->
                <!--</button>-->
                <div>
                    <!--<ui:sidebar-menu-item ng-repeat="detail in menu.details " class="menu-item"-->
                    <!--ng-if="intersect(detail.roles,[user.role]).length>0"-->
                    <!--link="{{detail.domain+'/'+detail.title}}" glyph="glyphicon-chevron-right">-->
                    <!--<span ng-click="Select('menu.'+detail.domain+'.'+detail.title)">-->
                    <!--{{translate('menu.'+detail.domain+'.'+detail.title)}}-->
                    <!--</span>-->
                    <!--</ui:sidebar-menu-item>-->
                    <span>
                        <button class="btn-menu-item" ng-repeat="detail in menu.details"
                                ng-class="{'toggleButton': (detail.domain+'.'+detail.title)==SelectedPage, 'btn-menu-item-hover': $index==selectedIndex}"
                                ng-if="intersect(detail.roles,[user.role]).length>0"
                                ng-click="Select(detail.domain,detail.title)">
                            {{translate('menu.'+detail.domain+'.'+detail.title)}}
                        </button>
                    </span>
                </div>
            </ui:sidebar-menu>
        </div>
    </div>
</ui:sidebar>
<div class="body" ng-class="{true: 'col-xs-10'}[sidebar]">
    <nav role="navigation" class="navbar topnavbar ng-scope">
        <ul class="nav navbar-nav sidebar-nav">
            <li>
                <a ng-click="sidebar = !sidebar" class="">
                    <em class="glyphicon glyphicon-menu-hamburger"></em>
                </a>
                <!--<a href="#" toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">-->
                <!--<em class="glyphicon glyphicon-align-justify"></em>-->
                <!--</a>-->
            </li>
            <!--<li>-->
            <!--<a href="#" ng-click="toggleUserBlock()">-->
            <!--<em class="glyphicon glyphicon-envelope"></em>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a ui-sref="page.lock" title="Lock screen" href="#/page/lock">-->
            <!--<em class="glyphicon glyphicon-alert"></em>-->
            <!--</a>-->
            <!--</li>-->
        </ul>
        <ul class="nav navbar-nav sidebar-nav">
            <li>
                <div class="loading-spiner-holder" data-loading>
                    <div id='loader'>
                        <div class='bull'></div>
                        <div class='bull'></div>
                        <div class='bull'></div>
                        <div class='bull'></div>
                        <div class='bull'></div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-inverse">
            <li dropdown="" class="dropdown dropdown-list"
                ng-init="localeImage='app/resources/img/fa_IR.png';localeLabel='فارسی'">

                <div class="btn-group locale-btn-group">
                    <button class="btn btn-lg btn-info glyphicon glyphicon-flag btn-sm"
                            data-toggle="dropdown" aria-expanded="true">
                        {{localeLabel}}
                    </button>
                    <!--<button type="button" class="btn locale-button" data-toggle="dropdown"-->
                    <!--aria-expanded="false">-->
                    <!--{{localeLabel}}-->
                    <!--&lt;!&ndash;<img src="{{localeImage}}"/>&ndash;&gt;-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-danger locale-caret" >-->
                    <!--<span class="caret"></span>-->
                    <!--&lt;!&ndash;<span class="sr-only"></span>&ndash;&gt;-->
                    <!--</button>-->
                    <ul class="dropdown-menu locale-item" role="menu">
                        <li>
                            <div ng-click="setLocale('en_US');localeLabel='English';localeImage='app/resources/img/en_US.png'"
                                 class="locale-subitem">
                                English
                                <!--<img src="app/resources/img/en_US.png"/>-->
                            </div>
                        </li>
                        <li>
                            <div ng-click="setLocale('fa_IR');localeLabel='فارسی';localeImage='app/resources/img/fa_IR.png'"
                                 class="locale-subitem">
                                فارسی
                                <!--<img src="app/resources/img/fa_IR.png"/>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <!--<li dropdown="" class="dropdown dropdown-list">-->
            <!--<div ng-click="setLocale('en_US')">-->
            <!--<img src="app/resources/img/en_US.png"/>-->
            <!--</div>-->
            <!--</li>-->
        </ul>
        <ul class="nav navbar-nav navbar-inverse">
            <li dropdown="" class="dropdown dropdown-list mail-nav">
                <a dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <em class="glyphicon glyphicon-envelope"></em>

                    <div class="label label-danger">11</div>
                </a>
            </li>
        </ul>
    </nav>
    <ol class="breadcrumb">
        <li class="active"><a href="#">{{translate('app.mainPage')}}</a></li>
        <li class="active">{{translate('menu.'+SelectedPage)}}</li>
    </ol>
    <!--<ui:secondary-navigation>-->
    <!--</ui:secondary-navigation>-->


    <div class="main-content" ng-view>

    </div>
</div>

<!--<div  ng-show="localeChanging"></div>-->
</body>
</html>