<html lang="en" ng-app="application" ng-controller="StartController">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intelligent Knowledge-based indexing news</title>
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="app/lib/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="app/lib/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="app/lib//css/form-elements.css">-->
    <link rel="stylesheet" href="app/lib/css/styles.css">
    <script src="app/lib/js/jquery.js"></script>
    <script src="app/lib/js/bootstrap.min.js"></script>
    <!--<script src="app/lib/js/jquery.backstretch.min.js"></script>-->
    <!--<script src="app/lib/js/retina.min.js"></script>-->
    <!--<script src="app/lib/js/scripts.js"></script>-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="app/lib/js/angular.min.js"></script>
    <script src="app/lib/js/angular-route.js"></script>
    <script src="app/lib/js/angular-resource.js"></script>
    <script src="app/lib/js/ui-bootstrap-tpls.min.js"></script>
    <script src="app/js/services/services.js"></script>
    <script src="app/js/services/translator.js"></script>
    <script src="app/js/services/locale.js"></script>
    <script src="app/js/services/properties.js"></script>
    <script src="app/js/controllers/start.js"></script>

    <script src="app/js/utils/utils.js"></script>

    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
</head>

<body>

<!-- Top menu -->
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<span class="top-logo">{{translate('view.StartForm.title')}}</span>-->
            <a class="navbar-brand" href="#">{{translate('view.StartForm.title')}}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse config-navbar">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->

                <li class="active" >
                    <a href="#" uib-popover-template="dynamicPopover.langTemplateUrl"
                            popover-title="Language"
                            popover-placement="bottom"
                            popover-trigger="focus"
                            type="button"
                       class="lang-button">
                        {{getLocaleLabel()}}
                    </a>

                </li>
                <!--<li class="nav-separator">-->
                    <!--<a href="#">&ZeroWidthSpace;</a>-->
                <!--</li>-->
                <li class="active" style="padding-left: 20px">
                    <a href="#" uib-popover-template="dynamicPopover.loginTemplateUrl"
                            popover-title="Login"
                            popover-placement="bottom"
                            popover-trigger="focus"
                            type="button" class="lang-button">
                        {{translate('view.StartForm.login')}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="clear"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img class="global-image" src="app/lib/images/globe1.svg">
        </div>
        <div class="col-lg-6">
            <div style="margin-top: 40%; font-size: 30px; color: white; padding-bottom: 10px">
                {{translate('view.StartForm.description')}}
            </div>
            <div>
                <form action="/register">
                    <button class="btn btn-success" type="submit"
                            style="width: 500px; font-size: 20px; height:50px; border: 2px ; border-radius: 25px;">
                        {{translate('view.StartForm.start')}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script type="text/ng-template" id="languageTemplate.html">
    <div class="lang-form">

        <div class="form-group">

            <a href="#" class="btn btn-success lang-form-item"
               ng-click="setLocale('en_US');localeLabel='English';">English</a>
            <a href="#" class="btn btn-success lang-form-item"
               ng-click="setLocale('fa_IR');localeLabel='فارسی';">فارسی</a>
            <a href="#" class="btn btn-success lang-form-item" ng-click="setLocale('de_DE');localeLabel='Deutsch';">Deutsch</a>


        </div>
    </div>
</script>
<script type="text/ng-template" id="loginTemplate.html">
    <div class="login-form">

        <div class="form-group">

            <form action="/auth/google">
                <button class="btn btn-success login-form-item" type="submit"
                        style="background-color:#dd381d;border-color: #dd381d;">
                    Connect with Google
                </button>
            </form>
            <form action="/auth/yahoo">
                <button class="btn btn-success login-form-item" type="submit"
                        style="background-color:#780099;border-color: #780099;">
                    Connect with Yahoo!
                </button>
            </form>
            <button class="btn btn-success login-form-item" type="submit"
                    style="background-color:#F4A929;border-color:#F4A929;">
                Connect with Live!
            </button>


            <span class="login-form-item">or</span>

            <form role="form" action="/login" method="post">
                <div class="form-group">
                    <!--<label class="sr-only" for="contact-username ">Username</label>-->
                    <input type="text" name="username" placeholder="Username..."
                           class="contact-username form-control login-form-item"
                            >
                </div>
                <div class="form-group">
                    <!--<label class="sr-only" for="contact-password">Password</label>-->
                    <input type="password" name="password" placeholder="Password..."
                           class="contact-password form-control login-form-item">
                </div>


                <button class="btn btn-success login-form-item" type="submit">
                    Login
                </button>
                <a class="btn login-form-item" href="/register">Register</a>
                <!--<button type="button" class="btn" id="">Register</button>-->
            </form>

            <!--<li><a href="#" class="language-menu">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->

            <!--<label>Popup Title:</label>-->
            <!--<input type="text" ng-model="dynamicPopover.title" class="form-control">-->
        </div>
    </div>
</script>
</body>
</html>