.navbar-nav > li > .dropdown-menu {
    background: rgb(193, 221, 245) !important;
}

.dropdown-menu > li > a {
    text-align: center;
    vertical-align: middle;
}

.panel-info {
    /*background: #bce8f1;*/
    background: #63C7DB;
    color: #000000;
    font-size: medium;
}

.panel {
    margin: 5px 10px;
}

.modal-grid {
    max-width: 860px;
    width: 100%;
}

.panel-primary {
    background: #337ab7;
    color: #ffffff;
    font-size: medium;
}

.expandableRow .ui-grid-row:nth-child(odd) .ui-grid-cell {
    background: aqua;
}

.ui-grid-row-selected .ui-grid-cell {
    background-color: #c4e3f3 !important;
    color: #31708f;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: lavender;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #ffffff;
}

.modal-header {
    background: #919BFF;
    color: #ffffff;
    text-align: inherit;
}

.modal-footer {
    background: white;
    text-align: center;
}

.modal-body {
    background: #eefffa;

}

.pagination > li > a, .pagination > li > span {
    color: #000000;
}

.panel-footer {
    color: #000000;
    font-size: small;
}

.alertify .ajs-header {
    color: #ffffff;
    background: brown;
}

.toast-error {
    background-color: #C00900;
    font-size: medium;
}

.has-error .form-control {
    background: #ffb9ad;
}

ul.dropdown-menu {
    /*min-width:70px;*/
    /*width: 250px;*/
    text-align: center;
    background: #ffffff;
    padding: 2px 12px;
    position: absolute;
    right: auto;
    left: 0;
}

ul.dropdown-menu > li > a > strong {
    color: #000000;
}

ul.dropdown-menu > li.active {
    background: dodgerblue;
}

ul.dropdown-menu > li > a {
    color: brown;
}

ul.dropdown-menu > li > span.btn {
    width: 70px;
    height: 70px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.modal-body {
    max-height: 520px;
    overflow-y: visible;
}

.search-modal-body {
    max-height: 520px;
    overflow-y: auto;
}

/*.btn + .dropdown-menu {*/
/*margin-top: -10px;*/
/*background: rgba(0, 0, 0, 0.7) !important;*/
/*padding: 0;*/
/*border: 0;*/
/*right: 0;*/
/*left: auto;*/
/*min-width: 100%;*/
/*}*/

/*.btn + .dropdown-menu > li > a {*/
/*padding: 5px 10px !important;*/
/*color: #f0f0f0;*/
/*}*/
.btn-print {
    box-shadow: 0 1px 2px #fff, /*bottom external highlight*/ 0 -1px 1px #666, /*top external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/ inset 0 1px 1px rgba(255, 255, 255, 0.8); /*top internal highlight*/
}

.btn-print:hover {
    background: brown;
}

.btn-sm {
    margin-bottom: 0;
}

.btn-small {
    font-size: xx-small;
    padding: 6px 6px 6px 6px;
    margin-left: 4px;
}

.indicator-btn {
    font-size: small;
    padding: 4px;

    /*margin-left: 4px;*/
    margin: 0;
    /*text-align: center;*/
    width: 100%;
    height: 100%;
}

.submit-button {
    background: rgb(84, 84, 189);
}

.submit-button:hover {
    background: rgb(111, 115, 189);
}

.main-content {
    padding: 0;
}

.main-content, .secondary-nav {
    background: whitesmoke;
}

@media screen and(max-width: 1200px) {
    .main-content {
        overflow-y: hidden;
        overflow-x: hidden;
        height: 590px;
        width: 1280px;
        margin-top: 0;
        padding-top: 0;
    }
}

/*{*/
/*background: whitesmoke;*/
/*}*/

body, .body {
    background: whitesmoke;
    font-size: 17px;
}

body {
    overflow-x: hidden;
}

@media screen and(max-width: 1200px) {
    body {
        height: 700px;
        width: 1400px;
        overflow-x: hidden;
    }
}

/*.body {*/
/*background: whitesmoke;*/
/*}*/

.panel-body {
    font-size: 16px
}

.sidebar {
    background: #222a38;
    /*background: #448ed3;*/
    z-index: 100;
}

.menu-item > a > span {
    color: indigo;
}

.header {
    background: #0D131E;
    color: white
}

.sidebar .menu.card {
    padding: 0;
}

.sidebar .menu.card .header {
    margin-bottom: 10px;
    padding: 12px 5px 13px 25px
}

.menu-item:hover, .menu-item-hover {
    background: aqua;
    box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/
inset : 0 px 1 px 1 px rgba(255, 255, 255, 0.8); /*top internal highlight*/
}

.btn-menu-item {
    width: 100%;
    font-size: 16px;
    /*background: #ffffff;*/
    background: #0D131E;
    height: 24px;
    padding-top: inherit;
    margin-bottom: 5px;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    color: white;
}

.toggleButton {
    background: #63b6ed;
    border: thick #ffffff;
    color: #ffffff;
}

.btn-menu-item:hover, .btn-menu-item-hover {
    background: #63b6ed;
    border-color: lavender;
    color: #ffffff;
}

.sidebar .menu.card .details {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .user.card {
    margin-bottom: 10px;
}

.btn-media {
    height: 100px;
    width: 100px;
    /*margin-bottom: 10px;*/
    /*margin-right: 10px;*/
    position: relative;
}

.btn-media > img {
    /*margin-top: -50%;*/
}

.bottom-text {
    bottom: 0;
    position: absolute;
    text-align: center;
    left: 50%;
}

.print-panel-body {
    padding: 0;
    margin-bottom: -2px;
    border-color: #ffffff;
    z-index: 10000;
    height: 25px;
    width: 100px;
}

.print-panel-body > .btn {
    width: 100%;
    background: #1493d1;
    color: #ffffff;
}

.print-panel {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 25px;
}

.print-panel-footer {
    padding: 0;
    background: #1caff6;
}

.print-panel-footer > .btn {
    background: #1caff6;
}

.modal-print-content > div > div {
    width: 390px
}

ul, ol {
    margin-bottom: 0;
}

.breadcrumb {
    margin-bottom: 0;
    background: #edeef5;
    margin-top: 0;

}

.content-bar {
    margin-top: 0;
}

.search-form {
    margin-bottom: 0;
}

.panel-body {
    padding: 5px;
}

.gridStyle {
    height: 300px !important;
}

.lgGridStyle {
    height: 520px !important;
    font-size: medium !important;
    border-color: #337ab7;
}

.pagination {
    margin-top: 5px;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 0;
}

.form-group > div {
    padding-left: 5px;
}

.codeResolverCode {
    width: 30%;
}

.codeResolverDescription {
    width: 70%;
}

.select2-drop-active {
    width: 94%;
}

.btn-sm:disabled {
    background: darkgray;
}

.modal-panel {
    margin-top: 30px;
}

.form-input {
    padding-left: 0;
}

.file-download {
    width: 7%;
    margin: 0 -4px 0 0;
    height: 25px;
    border-radius: 0;
    padding: 0 0 0 0;
}

.file-upload {
    /*width: 92%;*/
    margin: 0 0 0 0;
    /*height: 25px;*/
    /*border-radius: 0;*/
    /*padding-top: 0;*/
}

.file-operation {
    padding-left: 0;
}

.sidebar .user.card {
    height: 10%;
}

.user-panel:before, .user-panel:after {
    display: table;
    content: " ";
}

.user-panel > .image > img {
    width: 80px;
    height: 80px;
}

.image-avatar {
    margin: 0px auto;
    text-align: center;
    position: relative;
}

.main-theme .user-panel > .image > img {
    border: 4px solid #9FABBD;
}

img {
    max-width: 100% !important;
}

.user-panel {
    padding: 15px 10px 0px;
    position: relative;

}

.user-panel:before, .user-panel:after {
    display: table;
    content: " ";
}

.profile-list li {
    font-size: 12px;
    list-style: none;
    display: inline;
    margin: 0 5px;
}

ul.profile-list {
    padding: 0;
    text-align: center;
    margin: 15px 0;
    position: relative;
    left: 0;
}

.main-theme .user-panel > .info, .main-theme .user-panel > .info > a {
    color: #555555;
}

.user-panel > .info {
    font-weight: 600;
    padding: 5px 0;
    /* font-size: 14px; */
    line-height: 1;
}

.profile-list li a span {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #0D131E;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    font-size: 15px;
}

.user-operation {
    margin-top: 25%;
    color: white;
}

.sidebar .card:hover {
    background: inherit;
}

.sidebar .card {
    background: inherit;
}

.sidebar .card {
    border-right: 0
}

.username {
    color: white
}

.img-circle {
    background: #0D131E;
}

.layout-fixed .wrapper .topnavbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 121;
}

.header {
    display: block;
}

.topnavbar {
    -webkit-backface-visibility: hidden;
    margin-bottom: 0;
    border-radius: 0;
    /*background-color: #fff;*/
    z-index: 1050;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    position: relative;
    background: linear-gradient(to right, #23b7e5 0, #51c6ea 100%) repeat-x;
}

.navbar {
    position: relative;
    min-height: 55px;
    /*margin-bottom: 21px;*/
    border: 1px solid transparent;
}

.navbar-inverse {
    float: left;
    background-color: inherit;
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown > a > .label {
    top: 10px;
}

.dropdown > a > .label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
}

.label-danger {
    background-color: #f05050;
}

.dropdown-toggle {
    height: inherit;
}

.locale-button {
    padding: 0 0 0 0;
    margin-top: 10%;
    background-color: inherit;
}

.locale-caret {

}

.user-operation:hover {
    color: aqua;
}

.locale-subitem:hover {
    cursor: hand;
    background: #23b7e5;
}

.locale-item, ul.locale-item {
    background: #222a38;
    color: white;
}

#select-research-center {
    white-space: normal;
    /*width: 10%;*/
    /*height: 15%;*/
    /*font-size: 110%;*/
    word-wrap: break-word;
}

@media screen and (max-width: 1000px ) {
    .select2-container {
        width: 100%;
    }

    .select-research-center-text {
        visibility: hidden;
        text-indent: 0;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0;
    }

    .selection-glyphicon {
        font-size: 150%;
        left: 50%;
        right: -5%;
    }
}

.hidden-xs {
    cursor: hand;
}

.sidebar-nav > li, .sidebar-nav > li > a:hover {
    background-color: inherit;
}

.navbar-inverse > .mail-nav, .navbar-inverse > .mail-nav > a:hover {
    background-color: inherit;
    cursor: hand;
}

.tooltip-inner {
    background: #1496bb;
    font-size: 14px;
    font-family: "XB ZAR", "X-Nassim", "Helvetica", serif;

}

#loader {
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 180%);
}

#loader .bull {
    width: 10px;
    height: 10px;
    margin: 0 3.33333px;
    border-radius: 99em;
    background: #FFFFFF;
    -webkit-animation: anima 500ms ease infinite alternate;
    animation: anima 500ms ease infinite alternate;
}

#loader .bull:nth-child(1) {
    -webkit-animation-delay: -900ms;
    animation-delay: -900ms;
}

#loader .bull:nth-child(2) {
    -webkit-animation-delay: -1800ms;
    animation-delay: -1800ms;
}

#loader .bull:nth-child(3) {
    -webkit-animation-delay: -2700ms;
    animation-delay: -2700ms;
}

#loader .bull:nth-child(4) {
    -webkit-animation-delay: -3600ms;
    animation-delay: -3600ms;
}

#loader .bull:nth-child(5) {
    -webkit-animation-delay: -4500ms;
    animation-delay: -4500ms;
}

@-webkit-keyframes anima {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes anima {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.failure-content {
    background: #c9302c;
    color: white;
    border-color: #ac2925;
}

.failureContent {
    background: #c9302c !important;
    color: white;
    border-color: #ac2925 !important;
}

.failureContent:hover {
    background: #c9302c !important;
    color: black !important;
    border-color: #ac2925 !important;
}

.success-content {
    background: #449d44;
    border-color: #398439;

    color: white;
}

.warning-content {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}

.warningContent {
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;;
    color: white;
}

.connection-dropped {
    background: red;
}

.locales-menu {
    background: #222a38;
}

.locale-btn-group {
    padding-top: 10%;
}

.tooltip {
    z-index: 10000;
}

textarea {
    direction: ltr;
    height: 600px !important;
}

.btn-news-thumbnail {
    /*margin-left: 10px;*/
    /*margin-bottom: 10px;*/

    width: 100%;
    height: 12%;
    /*word-wrap: break-word;*/
    font-size: 16px;
    white-space: pre-line;

}

b {
    font-size: 18px;
    color: red;
}