.btn-sm {
    float: right;
}

.navbar-inverse {
    float: right;

    background-color: inherit;
}

ul.dropdown-menu {
    /*min-width:70px;*/
    /*width: 250px;*/
    position: absolute;
    left: auto;
    right: 0;
}

.locale-button {
    right: 10%;
    /*margin-right:100px;*/
}

.selection-glyphicon {
    left: -5%;
    right: 50%;
}