body {
    margin: 0;
    font-family: X-Nassim, "Helvetica", serif;
    background: #EBF3F6;
}

.top.badge {
    font-size: 8px;
    vertical-align: top;
    padding: 2px 5px;
    top: -3px;
}

.hovering.badge {
    position: relative;
    left: -5px;
}

.red.badge {
    background: #ff0000;
}

.blue.badge {
    background: #5caaff;
}

.yellow.badge {
    background: #ffcc6e;
}

.animated.badge {
    opacity: 0.7;
    position: relative;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.animated.top.badge {
    top: -2px;
}

a:hover .animated.badge {
    opacity: 1;
}

a:hover .animated.top.badge {
    top: -6px;
}

.sidebar {
    background: #f7f0da;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding-top: 10px;
    min-height: 100px;
}

.sidebar .card {
    height: 100px;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: block;
    cursor: default;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    /*background: #f8f8f8;*/
    float: left;
    border-radius: 5px;
    background: rgb(220, 217, 210);
}

.sidebar .card:hover {
    background: rgb(211, 211, 211);
}

.sidebar .card .aside {
    min-height: 100%;
    /*min-width: 60px;*/
    display: block;
    float: left;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar .card .cover + .aside {
    opacity: 0.3;
    position: relative;
    top: -100%;
}

.sidebar .card .cover {
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-left: 60px;
    padding-top: 30px;
}

.sidebar .menu.card {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    padding: 5px;
    height: auto;
}

.sidebar .menu.card .header {
    font-weight: bold;
    cursor: pointer;
}

.sidebar .menu.card .details {
    padding-left: 15px;
}

.sidebar .menu.card .details .column a {
    color: #808080;
}

.sidebar .menu.card .details .column > span:before {
    font-family: "Glyphicons Halflings", serif;
    font-size: 10px;
    padding-right: 2px;
    content: "\e080";
    color: #808080;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: #2993cf;
}

.navbar-default .navbar-nav > li > a {
    color: white; !important;
}



    .sidebar #sidebar-cards.collapse {
        height: auto;
        display: block;
    }

    .sidebar {
        min-height: 100%;
    }

    .sidebar .card {
        /*min-width: 140px;*/
        height: 120px;
        width: 100%;
        margin-bottom: 5px;
        margin-left: 0;
        border-left: 1px solid #c1c1c1;
        float: none;
    }

    .sidebar .card .aside {
        min-height: 100%;
        min-width: 100px;
        display: block;
        float: left;
        background-size: cover;
    }

    .sidebar .card .cover + .aside {
        opacity: 0.3;
        position: relative;
        top: -100%;
    }

    .sidebar .card .cover {
        width: 100%;
        min-height: 100%;
        position: relative;
        padding-left: 30px;
        padding-top: 30px;
    }

    .sidebar .card .aside {
        background-size: 60px;
        background-repeat: no-repeat;
        background-position: center;
        min-width: 70px;
        width: 70px;
    }

    .sidebar .user.card {
        height: 80px;
        background: #ffffff;
    }

    .sidebar .user.card .cover {
        padding-left: 70px;
        padding-top: 20px;
    }

    .sidebar .card .cover + .aside {
        opacity: 1;
    }

    .sidebar-toggle {
        display: none;
    }



.sidebar .user.card .status.online {
    color: #008000;
}

.sidebar .user.card .status.away {
    color: #b4ae68;
}

.sidebar .user.card .status.busy {
    color: #af3442;
}

.main-content {
    padding: 10px;
}

.body {
    padding: 0;
    background: #EBF3F6;
}

.navbar {
    margin-bottom: 0;
}

.secondary-nav {
    background: #EBF3F6;
    border-bottom: 1px solid #e7e7e7;
    min-height: 35px;
    cursor: default;
}

.secondary-nav .breadcrumb {
    background: none;
    margin-bottom: 0;
    float: right;
}

.secondary-nav h1 {
    margin: 0;
    font-size: 18px;
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.secondary-nav h1 small {
    font-size: 14px;
}

.sidebar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    left: 15px;
    background-color: #f8f8f8;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.sidebar-toggle:focus {
    outline: 0
}

.sidebar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}

.sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

.main-content.ng-enter {
    -webkit-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.menu.card.ng-enter {
    -webkit-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.animate-show {
    opacity:1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display:block!important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all linear 0.1s;
    transition:all linear 0.1s;
}

.animate-show.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
}

.brand {
    background: #1aaac7;
}

.brand .navbar-brand {
    color: blanchedalmond;
}

.brand .navbar-brand:hover, .brand .navbar-brand:focus {
    color: #ffffff;
}

.sidebar-view-toggle {
    display: inline-block;
    float: left;
    height: 50px;
    cursor: pointer;
    padding-top: 15px;
    margin-right: 10px;
    color: #ececec;
}

.notification.dropdown li.unread {
    background: lightgray;
}

.notification.dropdown li.done {
    text-decoration: line-through;
}

@font-face {
    font-family: "X-Nassim";
    src: url("../resources/fonts/nasim-regular.woff");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0600-06FF /* arabic */, U+0750-077F /* supplement */, U+08A0-08FF /* extended-a */, U+FB50-FDFF /* forms-a */, U+FE70-FEFF /* forms-b */, U+10E60-10E7F /* rumi numerical*/, U+1EE00-1EEFF /* math */;
}

@font-face {
    font-family: "X-Nassim";
    src: url("../resources/fonts/nasim-regular.woff");
    font-weight: bold;
    font-style: normal;
    unicode-range: U+0600-06FF /* arabic */, U+0750-077F /* supplement */, U+08A0-08FF /* extended-a */, U+FB50-FDFF /* forms-a */, U+FE70-FEFF /* forms-b */, U+10E60-10E7F /* rumi numerical*/, U+1EE00-1EEFF /* math */;
}

div.loader {
    min-height: 100%;
    min-width: 100%;
    background: #000000 url(../resources/images/loader.gif) no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: auto;
    display:block;
    height: 300px !important;
}


.littleGridStyle {
    border: 1px solid rgb(212,212,212);
    height: 100px !important;
}
.modal-grid{
    max-width: 820px;
    width: 100%;
}
.ui-grid-header-cell {
    max-height: 30px;
}
.glyphicon-search:hover{cursor: pointer;}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-nav > li > .dropdown-menu {
    background: rgb(193, 221, 245) !important;
}

.dropdown-menu > li > a {
    text-align: center;
    vertical-align: middle;
}

.panel-info {
    background: #bce8f1;
}