.lookupRow {
    margin-left: 15px!important;
    margin-right: 15px!important;
}

.lookupBodyRow {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.lookupPanelBorder {
    border-color: #555;
    border-style: groove;
}