<div ng-show="orientation != 'inline'"
     ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
    <div class="row form-group">
        <label for="{{id}}" ng-class="{'sr-only': orientation == 'inline'}"
               class="control-label {{(orientation == 'horizontal') ? ('col-lg-' + labelSize + ' col-md-' + labelSize) : ''}}"><span
                ng-if="label">{{label}}</span><span
                ng-if="!label && orientation == 'vertical'">&nbsp;</span>
        </label>

        <div ng-show="orientation != 'inline'"
             class="{{(orientation == 'horizontal') ? ('col-lg-' + (12 - labelSize) + ' col-md-' + (12 - labelSize)) : ''}}">
            <div class="input-group"
                 ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">

                <input id="{{id}}" type="text" class="form-control"  ng-model="amount" ng-style="{direction: 'ltr'}"
                       ng-change="amountChanged()" ng-disabled="disabled || currency === undefined" />

                <span ng-if="orientation == 'inline' && feedback"
                      class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
                <span class="input-group-addon small">
                    <span>
                        {{currency.banknoteName}}
                    </span>

                    <span>
                    \
                    </span>

                    <select ng-model="currencyCode">
                        <option></option>

                        <option ng-repeat="item in currencyOptions" value="{{item.code}}"
                                ng-selected="item.code == currencyCode" ng-disabled="item.disabled !== 'Undefined' && item.disabled">
                            {{item.code}}
                        </option>
                    </select>&nbsp;&nbsp;&nbsp;
                </span>
            </div>
            <div style="width:auto ;background-color: #e4e4e4;border-radius: 3px">
                {{toword}}
            </div>
        </div>
    </div>
</div>
