<button type="button" class="sidebar-toggle" data-toggle="collapse" data-target="{{target}}">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>