<div  ng-show="visible" ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
    <div class="form-group" ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">
        <div ng-show="orientation != 'inline'" class="checkbox {{(orientation == 'horizontal') ? ('col-sm-' + (12 - labelSize) + ' col-sm-offset-' + labelSize + ' col-md-' + (12 - labelSize) + ' col-md-offset-' + labelSize) : ''}}">
            <label>
                <input ng-disabled="disabled" id="{{id}}" type="checkbox" ng-model="model" /> {{label}}
            </label>
            <span ng-if="feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
        </div>
        <label ng-if="orientation == 'inline'" class="checkbox-inline"><input ng-disabled="disabled" id="{{id}}"
                                                                              type="checkbox" ng-model="model" /> {{label}} <span ng-if="feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span></label>
    </div>
</div>