<div  ng-disabled="$select.disabled" ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
    <div class="form-group"
         ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">

        <label for="{{id}}" ng-class="{'sr-only': orientation == 'inline'}"
               class="control-label {{(orientation == 'horizontal') ? ('col-lg-' + labelSize + ' col-md-' + labelSize) : ''}}"><span
                ng-if="label">{{label}}</span><span
                ng-if="!label && orientation == 'vertical'">&nbsp;</span><span ng-show="notNull" style="color: red;">*</span></label>
        <div class="{{(orientation == 'horizontal') ? ('col-lg-' + (12 - labelSize) + ' col-md-' + (12-labelSize)) : ''}} select2 select2-container "
             ng-class="{'select2-container-active select2-dropdown-open': $select.open, 'select2-container-disabled': $select.disabled, 'select2-container-active': $select.focus} ">
            <div>
                <div class="ui-select-match"></div>
            </div>
            <div class="select2-drop select2-with-searchbox select2-drop-active "
                 ng-class="{'select2-display-none': !$select.open}">
                <div class="select2-search" >
                    <input  type="text" autocomplete="off" autocorrect="off"
                                                   autocapitalize="off"
                                                   spellcheck="false"
                                                   class="ui-select-search select2-input form-control" id="{{id}}"
                                                   ng-model="$select.search">
                </div>
                <ul class="ui-select-choices ui-select-choices-content select2-results">
                    <li class="ui-select-choices-group"
                        ng-class="{'select2-result-with-children': $select.isGrouped}">
                        <div ng-show="$select.isGrouped" class="ui-select-choices-group-label select2-result-label">
                            {{$group}}
                        </div>
                        <ul class="select2-result-sub">
                            <li ng-class="{'select2-highlighted': $select.isActive(this)}" ng-mouseenter="$select.setActiveItem(this)" ng-click="$select.select(this)">
                                <!--<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>-->
                            </li>
                            <li class="ui-select-choices-row"
                                ng-class="{'select2-highlighted': $select.isActive(this)}">
                                <div class="select2-result-label ui-select-choices-row-inner"></div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



