<div ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
    <span ng-transclude ng-hide="true"></span>
    <div class="form-group" ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">
        <label for="{{id}}" ng-class="{'sr-only': orientation == 'inline'}" class="control-label {{(orientation == 'horizontal') ? ('col-sm-' + labelSize + ' col-md-' + labelSize) : ''}}"><span ng-if="label">{{label}}</span><span ng-if="!label && orientation == 'vertical'">&nbsp;</span></label>
        <div ng-if="orientation != 'inline'" class="{{(orientation == 'horizontal') ? ('col-sm-' + (12 - labelSize) + ' col-md-' + (12 - labelSize)) : ''}}">
            <select ng-disabled="disabled" id="{{id}}" class="form-control" ng-model="current" ng-change="changed(current)">
                <option ng-repeat="item in items" value="{{item.value}}">{{item.caption}}</option>
            </select>
            <span ng-if="feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
        </div>
        <span ng-show="orientation == 'inline'">
            <select ng-disabled="disabled" id="{{id}}" class="form-control" ng-model="current" ng-change="changed(current)">
                <option ng-repeat="item in items" value="{{item.value}}">{{item.caption}}</option>
            </select>
            <span ng-if="feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
        </span>
    </div>
</div>