<div ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
    <div class="form-group"
         ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">
        <label for="{{id}}" ng-class="{'sr-only': orientation == 'inline'}"
               class="control-label {{(orientation == 'horizontal') ? ('col-lg-' + labelSize + ' col-md-' + labelSize) : ''}}"><span
                ng-if="label">{{label}}</span><span
                ng-if="!label && orientation == 'vertical'">&nbsp;</span><span ng-show="notNull" style="color: red;">*</span></label>
        <div ng-show="orientation != 'inline'"
             class="{{(orientation == 'horizontal') ? ('col-lg-' + (12 - labelSize) + ' col-md-' + (12 - labelSize)) : ''}}">
        <!--<div class="{{(orientation == 'horizontal') ? ('col-lg-' + (12 - labelSize) + ' col-md-' + (12 - labelSize)) : ''}}">-->
            <div class="input-group"
                 ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">

                <span class="input-group-addon"  style="cursor:pointer!important;" id="{{id}}_button"><span class="glyphicon glyphicon-calendar"></span></span>

                <input id="{{id}}" type="text" class="form-control" placeholder="{{placeholder}}"
                       ng-model="pdate" style="text-align:left;direction: ltr;background-color: #fff !important;" readonly="readonly"/>
            </div>
        </div>
    </div>
</div>

