<div class="date-picker" xmlns:bui="http://www.agileapes.com/ui"
     ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
    <div ng-show="open" class="date-picker-popup" >
        <div class="contents">
            <div class="header"><span class="month" ng-bind="months[date.month()].long"></span><span class="year"
                                                                                                     ng-bind="date.year()"></span>
            </div>
            <div class="week-days">
                <span class="week-day" ng-repeat="weekDay in weekDays track by weekDay.index" ng-bind="weekDay.short"
                      title="{{weekDay.long}}"></span>
            </div>
            <div class="weeks">
                <div class="week" ng-repeat="week in layout">
                    <span class="day" ng-class="{'active': day.active, 'focused': day.focus}" ng-repeat="day in week"
                          ng-bind="day.date" ng-click="goto(day)"></span>
                </div>
            </div>
            <ul class="controls">
                <li class="previous-year" ng-click="jump(-1, 'year')"></li>
                <li class="previous-month" ng-click="jump(-1, 'month')"></li>
                <li class="next-year" ng-click="jump(1, 'year')"></li>
                <li class="next-month" ng-click="jump(1, 'month')"></li>
            </ul>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">
        <label for="{{id}}" ng-class="{'sr-only': orientation == 'inline'}"
               class="control-label {{(orientation == 'horizontal') ? ('col-sm-' + labelSize + ' col-md-' + labelSize) : ''}}"><span
                ng-if="label">{{label}}</span><span ng-if="!label && orientation == 'vertical'">&nbsp;</span></label>

        <div ng-show="orientation != 'inline'"
             class="{{(orientation == 'horizontal') ? ('col-sm-' + (12 - labelSize) + ' col-md-' + (12 - labelSize)) : ''}}">
            <div class="input-group">
                <input type="text" class="form-control" id="{{id}}" ng-disabled="disabled" placeholder="{{placeholder}}"
                       ng-model="dateText" ng-focus="action('focus')" ng-blur="action('blur')"/>
                <span ng-if="feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
                <span class="input-group-addon {{open ? 'opened' : 'closed'}}" ng-click="action('click')"><bui:icon
                        glyph="calendar"></bui:icon></span>
            </div>
            <!--<input id="{{id}}" ng-disabled="disabled" class="form-control" type="text" placeholder="{{placeholder}}" ng-model="ngModel" />-->
        </div>
        <input ng-disabled="disabled" ng-show="orientation == 'inline'" id="{{id}}" class="form-control" type="text"
               placeholder="{{placeholder}}" ng-model="ngModel"/>
        <span ng-if="orientation == 'inline' && feedback"  class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
    </div>
</div>