<div ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}" class="form-input">
    <div class="form-group"
         ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">
        <label for="{{id}}" ng-class="{'sr-only': orientation == 'inline'}"
               class="control-label {{(orientation == 'horizontal') ? ('col-lg-' + labelSize + ' col-md-' + labelSize) : ''}}"><span
                ng-if="label">{{label}}</span><span
                ng-if="!label && orientation == 'vertical'">&nbsp;</span><span ng-show="notNull" style="color: red;">*</span></label>
        <div ng-show="orientation != 'inline'"
             class="{{(orientation == 'horizontal') ? ('col-lg-' + (12 - labelSize) + ' col-md-' + (12 - labelSize)) : ''}}">
            <div class="form-group" id="{{id}}">
                <button tooltip="{{translate('app.download')}}" class="glyphicon glyphicon-triangle-bottom btn btn-primary" ng-click="Action.downloadCv(this)">
                    {{translate('app.download')}}
                </button>
                <div tooltip="{{translate('app.upload')}}" class="file-upload btn btn-primary glyphicon glyphicon-option-horizontal">
                    {{translate('app.upload')}}
                    <input type="file" class="upload" onchange="angular.element(this).scope().Action.uploadCv(this)" />
                </div>
                <button tooltip="{{translate('app.download')}}" class="glyphicon glyphicon-triangle-bottom btn btn-primary" ng-click="Action.downloadCv(this)">
                    {{translate('app.button.remove')}}
                </button>
            </div>
            <span ng-if="feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
        </div>
        <!--<div id="{{id}}" ng-disabled="disabled"  tooltip="{{translate('app.upload')}}" class="form-control file-upload btn btn-primary btn-lg glyphicon glyphicon-option-horizontal">-->
            <!--<input type="file" class="upload" onchange="angular.element(this).scope().Action.uploadCv(this)" />-->
        <!--</div>-->
        <!--<button tooltip="{{translate('app.download')}}" class="form-control glyphicon glyphicon-triangle-bottom btn btn-primary btn-lg file-download" ng-click="Action.downloadCv(this)">-->
        <!--</button>-->
        <span ng-if="orientation == 'inline' && feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
    </div>
</div>