<div ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
    <div class="form-group" ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">
        <label for="{{id}}" ng-class="{'sr-only': orientation == 'inline'}" class="control-label {{(orientation == 'horizontal') ? ('col-sm-' + labelSize + ' col-md-' + labelSize) : ''}}"><span ng-if="label">{{label}}</span><span ng-if="!label && orientation == 'vertical'">&nbsp;</span><span ng-show="notNull" style="color: red;">*</span></label>
        <div ng-show="orientation != 'inline'" class="{{(orientation == 'horizontal') ? ('col-sm-' + (12 - labelSize) +  ' col-md-' + (12 - labelSize)) : ''}}">
            <input type="text" ng-disabled="disabled" rows="4" id="{{id}}" class="form-control" placeholder="{{placeholder}}" ng-model="model"></input>
            <a href="{{downloadAddress}}" target="_blank" ng-disabled="disabled">{{downloadLable}}</a>
            <span ng-if="feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
        </div>
    </div>
</div>