<div class="grid table-responsive" xmlns:bui="http://www.agileapes.com/ui">
    <h1 class="grid-title" ng-show="title" ng-bind="title"></h1>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <table ng-show="!error" class="table {{striped ? 'table-striped' : ''}}" ng-class="{'table-bordered': bordered, 'table-hover': hover, 'table-condensed': condensed, 'selectable': selection == 'single' || selection == 'multiple'}">
        <tr class="header">
            <th ng-repeat="header in model.headers" ng-bind="header.text"></th>
        </tr>
        <tr ng-if="!loading" ng-repeat="row in model.data" ng-click="toggle(row);" ng-class="[{'active': 'active', 'success': 'success', 'info': 'info', 'warning': 'warning', 'danger': 'danger'}[row.$state],{true: 'selected'}[row.$selected]]" class="table-row">
            <td ng-repeat="header in model.headers" ng-bind-html="row[header.id]" class="{{header.className}}"></td>
        </tr>
        <tr class="empty" ng-show="model.data.length == 0 && !loading"><td colspan="{{model.headers.length}}" ng-bind="noData"></td></tr>
        <tr class="empty" ng-show="loading"><td colspan="{{model.headers.length}}" ng-bind="loadingText"></td></tr>
        <tr class="empty" ng-show="fixed && model.data.length < model.view.rows" ng-repeat="i in [] | range:model.view.rows-model.data.length - (loading || model.data.length == 0 ? 1 : 0):1:1:model.view.rows-model.data.length - (loading || model.data.length == 0 ? 1 : 0)">
            <td colspan="{{model.headers.length}}">&nbsp;</td>
        </tr>
    </table>
    <div class="controls" ng-if="controls">
        <ul>
            <li ng-click="goto(model.view.page <= 1 || loading || model.data.length == 0, 1)" ng-class="{'disabled': model.view.page <= 1 || model.data.length == 0}"><a href="javascript:void(0);"><bui:icon glyph="fast-backward"></bui:icon></a></li>
            <li ng-click="goto(model.view.page <= 1 || loading || model.data.length == 0, model.view.page - 1)" ng-class="{'disabled': model.view.page <= 1 || loading || model.data.length == 0}"><a href="javascript:void(0);"><bui:icon glyph="backward"></bui:icon></a></li>
            <li ng-if="model.view.pages > 6 && model.view.page > 3"><a>&hellip;</a></li>
            <li ng-show="model.view.pageList.length > 0" ng-click="goto(loading || view.data.length == 0, page)" ng-repeat="page in model.view.pageList" ng-class="{'active': page == model.view.page, 'disabled':  loading || model.data.length == 0}"><a href="javascript:void(0);">{{page}}</a></li>
            <li ng-if="model.view.pages > 6 && model.view.pages - model.view.page > 3"><a>&hellip;</a></li>
            <li ng-click="goto(model.view.page >= model.view.pages || loading || model.data.length == 0, model.view.page + 1)" ng-class="{'disabled': model.view.page >= model.view.pages || loading || model.data.length == 0}"><a href="javascript:void(0);"><bui:icon glyph="forward"></bui:icon></a></li>
            <li ng-click="goto(model.view.page >= model.view.pages || loading || model.data.length == 0, model.view.pages)" ng-class="{'disabled': model.view.page >= model.view.pages || loading || model.data.length == 0}"><a href="javascript:void(0);"><bui:icon glyph="fast-forward"></bui:icon></a></li>
        </ul>
    </div>
</div>