<div  ng-class="{'default': 'panel-default', 'danger': 'panel-danger', 'info': 'panel-info', 'warning': 'panel-warning'}[type]">
    <div >
        <div  ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
            <div  class="form-group" ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">

             <div class="panel panel-default lookupPanelBorder lookupRow" ng-class="{'default': 'panel-default', 'danger': 'panel-danger', 'info': 'panel-info', 'warning': 'panel-warning'}[type]">
                 <div>
                     <h4 class="panel-title">
                         {{title}}
                         <div class="row" style="padding-top: 10px">
                             <span class="col-lg-6 col-md-6">
                                 <div ng-show="orientation != 'inline'" class="{{(orientation == 'horizontal') ? ('col-lg-12 col-md-12') : ''}}">
                                     <div class="row form-group">
                                         <label for="searchbox" ng-class="{'sr-only': orientation == 'inline'}" class="control-label  {{(orientation == 'horizontal') ? ('col-sm-' + labelSize + ' col-md-' + labelSize) : ''}}"><span ng-if="label">{{label}}</span></label>
                                         <div class="input-group">
                                             <input  id="searchbox"   ng-blur="trigger()" class="form-control" type="text"  ng-model="model" /><span ng-if="orientation == 'inline' && feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
                            <span class="input-group-addon">
                                    <i style="cursor: pointer;" ng-click="trigger()"  class="glyphicon glyphicon-search"></i>
                                    <i ng-show="searchIcon" style="cursor: pointer;" ng-click="findItem()" class="glyphicon glyphicon-filter"></i>
                                    <i ng-show="addIcon" style="cursor: pointer;" ng-click="addItem()" class="glyphicon glyphicon-plus"></i>
                            </span>
                                         </div>
                                     </div>
                                     <span ng-if="feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
                                 </div>
                                 <div class="form-group" ng-show="orientation == inline">
                                     <label for="searchbox" ng-class="{'sr-only': orientation == 'inline'}" class="control-label {{(orientation == 'inline') ? ('col-sm-' + labelSize) : ''}}"><span ng-if="label">{{label}}</span><span ng-if="!label && orientation == ''">&nbsp;</span></label>
                                     <div class="input-group">
                                         <input id="searchbox" class="col-md-2  col-sm-2 form-control"  type="text" placeholder="{{placeholder}}" ng-model="model" /><span ng-if="orientation == 'inline' && feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
                            <span class="input-group-addon">
                                    <span ng-click="trigger()" class="glyphicon glyphicon-search"></span>
                            </span>
                                     </div>
                                 </div>
                             </span>
                             <span class="col-lg-6 col-md-6">

                             </span>
                         </div>
                     </h4>
                 </div>
                 <div ng-show="showBody" class="row panel-body lookupBodyRow" style="background-color: #e4e4e4">
                     <div class="row"  ng-show="orientation == 'horizontal' && showDetail==true">
                           <span class="col-lg-6 col-md-6" ng-repeat="item in dataList">
                                    <label  class="{{('col-sm-' + labelSize + ' col-md-' + labelSize)}} control-label">{{item.label}}</label>
                                    <div class="{{'col-sm-' + (12-labelSize) + ' col-md-' + (12-labelSize)}}">
                                        <input  class="form-control"  value="{{item.content}}" readonly>
                                    </div>

                           </span>
                     </div>
                     <div class="row" ng-show="orientation == 'vertical' && showDetail==true" style="background-color: #e4e4e4">
                           <span class="col-lg-6 col-md-6" ng-repeat="item in dataList">
                                   <label  class="{{('col-sm-' + labelSize + ' col-md-' + labelSize) }} control-label">{{item.label}}</label>
                            <div class="{{'col-sm-' + (12-labelSize) + ' col-md-' + (12-labelSize)}}">
                                <input  class="form-control"  value="{{item.content}}" readonly>
                            </div>

                           </span>
                     </div>
                 </div>
             </div>
            </div>
        </div>
    </div>
</div>

