<div>
     <div  ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
             <div class="row" ng-show="orientation == 'horizontal'">
                    <span class="col-lg-6 col-md-6" ng-repeat="item in dataList">
                             <label  class="{{('col-sm-' + labelSize + ' col-md-' + labelSize)}} control-label">{{item.label}}</label>
                             <div class="{{'col-sm-' + (12-labelSize) + ' col-md-' + (12-labelSize)}}">
                                 <input  class="form-control"  value="{{item.content}}" readonly>
                             </div>
                    </span>
             </div>
             <div class="row" ng-show="orientation == 'vertical'">
                    <span class="col-lg-6 col-md-6" ng-repeat="item in dataList">
                            <label  class="{{('col-sm-' + labelSize + ' col-md-' + labelSize)}} control-label">{{item.label}}</label>
                     <div class="{{'col-sm-' + (12-labelSize) + ' col-md-' + (12-labelSize)}}">
                         <input  class="form-control"  value="{{item.content}}" readonly>
                     </div>
                    </span>
             </div>
     </div>
    <div ng-show="showPlaceHolder" class="well">
        {{palceholder}}
    </div>
</div>

