<li class="notification dropdown" xmlns:ui="http://www.agileapes.com/ui">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
        <!--<ui:icon ng-if="glyph" glyph="{{glyph}}"></ui:icon>-->
        <span ng-if="glyph" class="glyphicon {{glyph}}"></span>
        <span ng-show="count > 0" class="top hovering {{color}} animated badge">{{count}}</span>
        <span ng-if="caption">{{caption}} <b class="caret"></b></span>
    </a>
    <ul class="dropdown-menu">
        <li ng-repeat="action in actions" ng-click="perform(action);" class="{{action.className}} {{action.unread ? 'unread' : ''}} {{!action ? 'divider' : ''}}"><a ng-if="action" href="javascript:void(0);">{{action.title}}</a></li>
    </ul>
</li>
