<div class="panel"  ng-disable="disabled" ng-class="{'default': 'panel-default', 'danger': 'panel-danger', 'info': 'panel-info', 'warning': 'panel-warning'}[type]">
    <div  class="panel-heading">
        <h4 class="panel-title" ng-click="isOpen = !isOpen" style="cursor: pointer;">
            <i ng-if="collapsible" class="glyphicon {{isOpen ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'}}"></i>
            {{title}}
        </h4>
    </div>
    <div ng-show="!collapsible"  class="panel-body" ng-transclude></div>
    <div ng-show="collapsible">
        <div class="panel-body animate-show" ng-transclude ng-show="isOpen"></div>
    </div>
</div>
