<div class="secondary-nav" xmlns:ui="http://www.agileapes.com/ui">
    <h1>
        <span ng-bind="translate(page.title)"></span> <small ng-show="page.subTitle" ng-bind="translate(page.subTitle)"></small>
    </h1>
    <ul class="breadcrumb">
        <li><ui:icon glyph="dashboard"></ui:icon></li>
        <li ng-repeat="level in page.path"><a ng-href="{{level.link | link}}">{{translate(level.title)}}</a></li>
    </ul>
</div>
