<div ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
    <div class="form-group"
         ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">
        <label for="{{id}}" ng-class="{'sr-only': orientation == 'inline'}"
               class="control-label {{(orientation == 'horizontal') ? ('col-sm-' + labelSize + ' col-md-' + labelSize) : ''}}"><span
                ng-if="label">{{label}}</span><span ng-if="!label && orientation == 'vertical'">&nbsp;</span></label>

        <div class="{{(orientation == 'horizontal') ? ('col-sm-' + (12 - labelSize) + ' col-md-' + (12 - labelSize)) : ''}}">
            <!--ng-options="item.value as item.caption for item in items"-->
            <select name="y" ng-disabled="disabled"
                    id="{{id}}"
                    class="form-control"  ng-model="model">
                <option value=""></option>
                <option ng-repeat="item in items" value="{{item.value}}" ng-selected="item.value == model">
                    {{item.caption}}
                </option>
            </select>
            <span ng-if="feedback" class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
        </div>
    </div>
</div>