<div class='menu card' xmlns:bui="http://www.agileapes.com/ui">
    <div class='header' ng-click='expanded = !expanded'>
        <!--<span ng-if='glyph'><bui:icon glyph='{{glyph}}'></bui:icon> </span>{{title}}-->
        <span ng-if='glyph'> <span class="glyphicon {{glyph}}"></span> </span>{{title}}
    </div>
    <div class='details animate-show' ng-show='expanded' ng-transclude></div>
</div>