<div class="col-xs-2 sidebar container-fluid" xmlns:bui="http:/www.agileapes.com/ui">
    <!--<bui:asset-toggle-button target="#sidebar-cards"></bui:asset-toggle-button>-->
    <div id="sidebar-cards" ng-transclude></div>
</div>