<nav class="navbar navbar-default" role="navigation" xmlns:ui="http:/www.agileapes.com/ui">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header col-md-2 brand">
                <ui:asset-toggle-button target="#navigation-collapse-target"></ui:asset-toggle-button>
                <div class="sidebar-view-toggle" ng-click="sidebar = !sidebar"><span class="glyphicon glyphicon-{{sidebar ? 'chevron-right' : 'chevron-left'}}"></span></div>
                <a class="navbar-brand" href="{{'home' | link}}" ng-click="sidebar = !sidebar" ng-bind="translate(app.title)"></a>
            </div>
            <div class="collapse navbar-collapse" id="navigation-collapse-target">
                <ul class="nav navbar-nav navbar-right" ng-transclude>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-user"></span> <span ng-bind="user.displayName"></span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0);">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>