<div ng-show="orientation != 'inline'"
     ng-class="{'form': orientation != 'inline','form-horizontal': orientation == 'horizontal', 'form-inline form-inline-container': orientation == 'inline'}">
    <div class="row form-group">
        <label for="{{id}}" ng-class="{'sr-only': orientation == 'inline'}"
               class="control-label {{(orientation == 'horizontal') ? ('col-lg-' + labelSize + ' col-md-' + labelSize) : ''}}"><span
                ng-if="label">{{label}}</span><span
                ng-if="!label && orientation == 'vertical'">&nbsp;</span>
        </label>

        <div ng-show="orientation != 'inline'"
             class="{{(orientation == 'horizontal') ? ('col-lg-' + (12 - labelSize) + ' col-md-' + (12 - labelSize)) : ''}}">
            <div class="input-group"
                 ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}"
                 ng-show="editable != 'false' ">

                <input id="searchbox" placeholder="{{placeholder}}" type="text" class="form-control" datepicker-popup-persian="{{format}}"
                       ng-model="model" is-open="persianIsOpen" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="closeText"/><span
                    ng-if="orientation == 'inline' && feedback"
                    class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
                 <span class="input-group-addon">
                     <span ng-click="openPersian($event)" class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="input-group"
                 ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}"
                 ng-show="editable === 'false'"
                    >
                <input readonly="true" placeholder="{{placeholder}}" id="searchbox" type="text" class="form-control"
                       datepicker-popup-persian="{{format}}" ng-model="model" is-open="persianIsOpen"
                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                       close-text="closeText"/><span ng-if="orientation == 'inline' && feedback"
                                                     class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
                 <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
