select {
    /*display: inline-block;*/
    border: 2px solid #bbb;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    /*outline:none;*/
    line-height: 1.2;
    background: #f8f8f8;

    width: 100%;
    height: 30px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

