
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background: #0C4C88;

}

strong {
    font-weight: 500;
}

.navbar.navbar-no-bg {
    background: none;
}

/***** Top content *****/

.top-content .text {
    color: #fff;
}

.top-content .text h1 {
    color: #fff;
}

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .description a {
    color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
    border-bottom: 1px dotted #fff;
}

.top-content .top-big-link {
    margin-top: 35px;
}

.form-box {
    padding-top: 40px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 {
    margin-top: 0;
    color: #fff;
}

.form-top-left p {
    opacity: 0.8;
    color: #fff;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form .input-error {
    border-color: #19b9e7;
}

.form-bottom p {
    opacity: 0.8;
    color: #fff;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {

    .navbar {
        padding-top: 0;
    }

    .navbar.navbar-no-bg {
        background: #333;
        background: rgba(51, 51, 51, 0.9);
    }

    .navbar-brand {
        height: 60px;
        margin-left: 15px;
    }

    .navbar-collapse {
        border: 0;
    }

    .navbar-toggle {
        margin-top: 12px;
    }

    .inner-bg {
        padding: 40px 0 110px 0;
    }

    .top-content .top-big-link {
        margin-top: 25px;
    }

    .top-content .top-big-link a.btn {
        margin-top: 10px;
    }

}

@media (max-width: 415px) {

    h1, h2 {
        font-size: 32px;
    }

}

/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    /* logo */
    .navbar-brand {
        background-image: url(../img/logo@2x.png) !important;
        background-repeat: no-repeat !important;
        background-size: 113px 32px !important;
    }

}

/*.top-bar {*/
/*background: #3980B4;*/
/*}*/

.top-logo {
    color: white;
    font-size: 23px;
    font-family: cursive;
    font-weight: bold;
    position: absolute;
    padding-top: 1.5%;
}

.language-menu {
    color: #000;
}

.login-form {
    /*width: 400%;*/
    width: 23em;
}

.login-form > button {
    border-radius: 25px;
}

.login-form > form > button {
    border-radius: 25px;
}

.login-form > div > span {
    color: black;
    margin-left: 35%;
    display: list-item;
    margin-bottom: 10px;
}

.login-form >div> form > a {
    color: black !important;
    /*margin-left: 40%;*/
    display: list-item;
    margin-bottom: 10px;
}

.login-form-item {
    margin-bottom: 10px;
    width: 75%;
    float: left;
}

.global-image{
    margin-left: -50%
}

.login-button{
    width: 150%;
}

.config-navbar{
    padding-left: 75%;

}
.nav-separator{

}

.navbar-inverse{
    background-color:#286090;
    border-color:#204d74;
}

.navbar-brand{
    color:white !important;
    font-size: 150%;
}

.lang-button {
    display: inline-block !important;
    color: #fff !important;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, .4),
    inset 0 0 3px 0 rgba(0, 0, 0, .4),
    inset 0 0 3px 5px rgba(0, 0, 0, .05),
    2px 2px 4px 0 rgba(0, 0, 0, .25);
    border-radius: 4px;
    padding: 8px 16px;;
    font-size: 15px;
    line-height: 14px;
    font-family: X-Nassim, serif;
    position: relative;
    background: #5bc0de;
    border-color: #46b8da;

}


.lang-form{
    width: 8em;
}

.lang-form-item {
    margin-bottom: 10px;
    width: 100%;
    float: left;
}