<div xmlns:ui="http://www.agileapes.com/ui" ng-controller="myCtrl">
    <script type="text/javascript">
        var myCtrl = function ($scope) {
            $scope.x = [
                {value: 1, caption: 'One'},
                {value: 2, caption: 'Two'}
            ];
            $scope.grid = {
                headers: [
                    {
                        'id': 'x',
                        handler: function ($item) {

                        }
                    },
                    'y'
                ],
                data: [
                    {x: function (find) {
                    }, y: 10},
                    {x: 21, y: 21},
                    {x: -1, y: 14}
                ]
            };
            $scope.xyz = {
                headers: [
                    'id', 'name', {
                        'id': 'action',
                        'text': 'Action',
                        width: 1,
                        handler: function (find, $scope) {
                            $scope.removeItem = function () {
                                alert(1);
                            };
                            return "<button class='btn btn-danger btn-xs' ng-click='removeItem();'>Remove</button>";
                        }
                    }
                ],
                view: {
                    rows: 5,
                    page: 1
                },
                data: [
                    {id: 1, name: 'Milad <b>Naseri</b>'},
                    {id: 2, name: 'Ali'},
                    {id: 3, name: 'Gholi', $state: 'warning'},
                    {id: 4, name: 'Naghi'},
                    {id: 5, name: 'Tahi'},
                    {id: 5, name: 'Tahi'},
                    {id: 5, name: 'Tahi'},
                    {id: 5, name: 'Tahi'},
                    {id: 5, name: 'Tahi'},
                    {id: 5, name: 'Tahi'},
                    {id: 5, name: 'Tahi'}
                ]
            };
            $scope.$on('bu.ui.text', function (event, context) {
                if (context.component() == 'grid' && context.flag() == 'header') {
                    context.set('xyz');
                }
            });
//            $scope.$on('bu.ui.grid.navigating', function (event, context) {
//                if (context.from() !== undefined) {
//                    context.cancel();
//                }
//            });
            $scope.$on('myEvent', function (event, context) {
                context.x = function () {
                    return 2;
                };
            });
        };
    </script>
    <ui:form-container>
        <!--<ui:form-input type="text" id="first" label="First"></ui:form-input>-->
        <!--<ui:form-input type="password" id="second" label="Second"></ui:form-input>-->
        <!--<ui:form-input type="password" id="third" label="Third"></ui:form-input>-->
        <!--<ui:form-input type="password" id="fourth" label="Fourth"></ui:form-input>-->
        <!--<ui:form-input type="password" id="fifth" label="Fifth"></ui:form-input>-->
        <!--<ui:form-input type="password" id="sixth" label="Sixth"></ui:form-input>-->
        <!--<ui:form-input type="password" id="seventh" label="Seventh"></ui:form-input>-->
        <ui:grid ng-model="xyz" bordered="true" striped="true" selection="multiple"></ui:grid>
        <ui:grid ng-model="grid" bordered="true" striped="true" selection="multiple" selected="selected"></ui:grid>
        <ui:form-input type="password" id="seventh" label="{{translate('view.com.caspco.exchange.add.input.name')}}"></ui:form-input>
        <ui:form-input type="password" id="seventh" label="view.com.caspco.exchange.add.input.name"></ui:form-input>
        <pre dir="ltr">
            {{selected}}
        </pre>
    </ui:form-container>
</div>