<div class="modal-header" id="print-dialog-header">
    <h3 class="modal-title">{{translate('app.print-dialog')}}</h3>
</div>

<form name="form" class="modal-body">
    <div class="row text-center">
        <div class="panel print-panel panel-default " ng-click="Action.report('pdf')"
             do-action="P:Action.report('pdf')">
            <div class="print-panel-body">
                <button class="btn">
                    <span>P</span>
                </button>
            </div>
            <div class="panel-footer print-panel-footer">
                <button class="btn btn-lg btn-media">
                    <img src="app/resources/images/mime/64x64/pdf.png" class="btn-media-image">
                </button>
            </div>
        </div>

        <div class="panel print-panel panel-default " ng-click="Action.report('docx')"
             do-action="W:Action.report('docx')">
            <div class="print-panel-body">
                <button class="btn">
                    <span>W</span>
                </button>
            </div>
            <div class="panel-footer print-panel-footer">
                <button class="btn btn-lg btn-media">
                    <img src="app/resources/images/mime/64x64/docx.png">
                </button>
            </div>
        </div>
        <div class="panel print-panel panel-default " ng-click="Action.report('html')"
             do-action="H:Action.report('html')">
            <div class="print-panel-body">
                <button class="btn">
                    <span>H</span>
                </button>
            </div>
            <div class="panel-footer print-panel-footer">
                <button class="btn btn-lg btn-media">
                    <img src="app/resources/images/mime/64x64/html.png">
                </button>
            </div>
        </div>
    </div>
    <div class="row text-center">



        <div class="panel print-panel panel-default text-center" ng-click="Action.report('xlsx')"
             do-action="X:Action.report('xlsx')">
            <div class="print-panel-body">
                <button class="btn">
                    <span>X</span>
                </button>
            </div>
            <div class="panel-footer print-panel-footer ">
                <button class="btn btn-lg btn-media">
                    <img src="app/resources/images/mime/64x64/xlsx.png">
                </button>
            </div>
        </div>

        <div class="panel panel-default print-panel " ng-click="Action.report('csv')"
             do-action="C:Action.report('csv')">
            <div class="print-panel-body">
                <button class="btn">
                    <span>C</span>
                </button>
            </div>
            <div class="panel-footer print-panel-footer">
                <button class="btn btn-lg btn-media">
                    <img src="app/resources/images/mime/64x64/csv.png">
                </button>
            </div>
        </div>
    </div>
</form>

<div class="modal-footer">

</div>