<div ng-controller="ChartsController">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-success btn-lg glyphicon glyphicon-refresh" ng-click="Action.refresh()"></button>

        </div>
    </div>

    <canvas id="radar" class="chart chart-line" legend="true" series="chartParams.series" colours="chartParams.colours" data="chartParams.chartData"
            labels="chartParams.chartLabels" click="handle"></canvas>

</div>